@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: rgb(24 24 27);
}

@keyframes moveX {
	to {
		background-position:0 -125%;
	}
}

@font-face {
	font-family: 'HakgyoansimBareonbatangB';
	src: url('./fonts/HakgyoansimBareonbatangB.ttf') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'HakgyoansimBareonbatangR';
	src: url('./fonts/HakgyoansimBareonbatangR.ttf') format('woff2');
	font-weight: normal;
	/*font-style: normal;*/
}

.info-text-bold {
	font-family: HakgyoansimBareonbatangB, serif;
}

.info-text-regular {
	font-family: HakgyoansimBareonbatangR, serif;
}
